//Buttons
$yellowish: #BFAE5A;
$greenish: #92CD41;
$blueish: #5ED4D5;
$redish: #D94854;
$greyish: #F2F2F2;
$blackish: #272727;

//Container & Logo
$grey-container: $greyish;
$yellow-container: $yellowish;


//8 bit outline
$outline-width: 4px;
$shadow-width: 4px;


$vue-blue: #32485F;
$vue-green: #FFF;
$shadow-in: #B5AFAF;
$shadow-un: #A3363F;
$shadow-ac: #4BA52E;
$shadow-ov: #479FA0;


//8 bit outline
$outline-width: 4px;
$shadow-width: 4px;

body {
    background: #FFF;
}

.inputfield{
    margin: 0;
    padding: 10px;
    border:0;
    
}

ul {
    list-style: none;
    text-align: left;
    padding-inline-start: 0px;

}

ul li ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

ul li ul li {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 0%;
    z-index: 2;
}

ul li ul li:not(:last-of-type) {
    margin-right: 10px;
}

ul li ul li.incomplete {
    background-color: $greyish;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-in;

    &:hover,
    &:focus {
        background: $shadow-in;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-in;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-in;
    }
}

ul li ul li.unachieved, .remove {
    background-color: $redish;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-un;

    &:hover,
    &:focus {
        background: $shadow-un;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-un;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-ac;
    }
}

ul li ul li.achieved, .edit {
    background-color: $greenish;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-ac;

    &:hover,
    &:focus {
        background: $shadow-ac;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-ac;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-ac;
    }
}

ul li ul li.overachieved, .complete {
    background-color: $blueish;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-ov;

    &:hover,
    &:focus {
        background: $shadow-ov;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-ov;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-ov;
    }
}


.remove, .complete, .edit {
    padding: 10px;
}

.remove {
    background: #D94854;
}




//Container & btn
.input {
    border: 0;
}

.newTask {
    background-color: #FFF;
    width: 92%;
}

.section {
    background: $grey-container;
    
    &:before,
    &:after {
    content: '';
        
    }
}

ul li ul li {
    padding: 15px;
    
}
.field {
    background: #FFF;
    padding: 0;
    margin: auto 5%;
}
.section, .eightbit-btn {
    padding: 10px;
    margin: 4px;
}

ul li ul li, .button {
    margin: 12px;
}

.section, .eightbit-btn, ul li ul li, .button, .field {
    position: relative;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        z-index:-1
    }

    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width $blackish solid;
        border-bottom: $outline-width $blackish solid;
    }

    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width $blackish solid;
        border-right: $outline-width $blackish solid;
    }
}

// Text

h1,h2,h3,p {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: $blackish;
}

h1 {
    font-size: 2rem;
    padding: 0;
    margin: 1rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 2rem;
}

h3 {
    text-align: left;
    padding-left: 1%;
    margin-block-start: 13px;
    margin-block-end: 23px;
}

p {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

input, button, .button{
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}

input {
    padding: 10px;
    width: 91%;
}



.inputfield {
    width: 91%;
}

.logo {
    width: 72vw;
    text-align: center;
    display: block;
    margin: 2vh auto;
}


@media only screen and (min-width: 875px) { 
.weirdMediaQueryProblem {}

    .logo {
        width: 19.5vw;
    }

    .newTask {
        width: 30%;
    }

    input {
        padding: 10px;
        width: 30%;
    }

    ul li ul li:not(:last-of-type) {
        margin-right: 22px;
    }

    
}



